<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464701122515-th58j4sl95h237g98vbcs0pmn44f5ucu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464701122515-th58j4sl95h237g98vbcs0pmn44f5ucu</string>
	<key>API_KEY</key>
	<string>AIzaSyDe7__zLclVUIXcmqEYg4A1J8DbppVe5PM</string>
	<key>GCM_SENDER_ID</key>
	<string>464701122515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicLink</string>
	<key>PROJECT_ID</key>
	<string>music-link-db3f5</string>
	<key>STORAGE_BUCKET</key>
	<string>music-link-db3f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464701122515:ios:0287e6734152e89a</string>
	<key>DATABASE_URL</key>
	<string>https://music-link-db3f5.firebaseio.com</string>
</dict>
</plist>